:root {
    --cell-size: calc(min(((100vh - 3rem) / 41), (100vw / 28)));
}

div.svg-container {
    box-sizing: border-box;
    height: calc(var(--cell-size) * 41);
    position: relative;
}

svg {
    box-sizing: border-box;
    position: absolute;
    width: calc(var(--cell-size) * 1.2);
    height: calc(var(--cell-size) * 41);
    right: calc(var(--cell-size) * 2);
    box-shadow: 0px 1px 1px 0px black;
    background-color: #555;
    opacity: 0.9;
}