:root {
    --cell-size: calc(min(((100vh - 3rem) / 41), (100vw / 28)));
}

header {
    /* display: flex; */
    height: calc(var(--cell-size) * 3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header h5 {
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0.12em;
    opacity: 0.7;
}

form {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* margin: 0 auto 0 auto; */
    /* width: calc(var(--cell-size) * 20); */
    height: calc(var(--cell-size) * 38);
    /* display: grid; */
    /* grid-template-rows: 1fr; */
    /* gap: auto; */
    margin-bottom: auto;
}


.line,
.labels {
    width: calc(var(--cell-size) * 24);
    height: calc(var(--cell-size) * 36 / 30);
    margin: 0 auto 0 auto;
    display: grid;
    grid-gap: var(--cell-size);
    grid-template-columns: calc(var(--cell-size) * 4) calc(var(--cell-size) * 19);
}

.labels {
    position: relative;
    /* height: calc(var(--cell-size) * 36 / 30); */
}

.labels label {
    /* font-size: 0.5em; */
    font-size: calc(min(var(--cell-size) * 4 / 7, 1em));
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(var(--cell-size) / 1.5);
    /* opacity: 0.7; */
}

.labels label#label-num {
    width: calc(var(--cell-size) * 4);
}

.labels label#label-text {
    left: calc(var(--cell-size) * 5);
}

.line .input-num {}

.line .input-text {}

input {
    border-radius: 0;
    text-align: center;
    border-width: 0 0 1px 0;
    padding: 0;
    background-color: inherit;
    font-family: 'Klee One', cursive;
    box-sizing: border-box;
    height: 1.5em;
}

input:focus {
    outline: none;
    caret-color: transparent;
    background-color: #f0f0e4;
}