:root {
    --cell-size: calc(min(((100vh - 3rem) / 41), (100vw / 28)));
}

@font-face {
    font-family: grotesk;
    src: url(anderson_grotesk_light.otf);
}

html {
    box-sizing: border-box;
}

* *:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: grotesk;
    box-sizing: border-box;
}

header {
    text-align: center;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer {
    text-align: right;
    height: 1.5rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

footer>button {
    padding: 0;
    background-color: transparent;
    border: none;
}

main.notebook {
    padding: 0;
    display: flex;
    justify-content: center;
    background: url(background_wood.svg);
    height: calc(100vh - 3rem);
    box-sizing: border-box;
}

notebook-page {
    background-color: ivory;
    padding-bottom: 0;
    border-radius: 1rem 0 0 1rem;
    width: fit-content;
    max-width: 100vw;
    box-sizing: border-box;
    display: grid;
    height: fit-content;
    grid-template-areas: "aside-left header aside-right"
        "aside-left grid aside-right"
        "aside-left footer aside-right";
    margin: auto;
}

notebook-cover {
    background-color: cornflowerblue;
    padding-bottom: 0;
    border-radius: 1rem 0 0 1rem;
    width: fit-content;
    max-width: 100vw;
    box-sizing: border-box;
    /* display: grid; */
    height: calc(var(--cell-size) * 41);
    width: calc(var(--cell-size) * 28);
    /* grid-template-areas: "aside-left header aside-right" */
        /* "aside-left grid aside-right" */
        /* "aside-left footer aside-right"; */
    margin: auto;   
}