:root {
    --cell-size: calc(min(((100vh - 4rem) / 41), (100vw / 28)));
}

@font-face {
    font-family: grotesk;
    src: url(anderson_grotesk_light.otf);
}

html {
    box-sizing: border-box;
}

* *:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: grotesk;
    box-sizing: border-box;
}

body>header {
    text-align: center;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

body>footer {
    text-align: right;
    height: 1.5rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

body>footer>button {
    padding: 0;
    background-color: transparent;
    border: none;
}

main.notebook {
    padding: 0;
    display: flex;
    justify-content: center;
    background: url(background_wood.svg);
    height: calc(100vh - 3rem);
    box-sizing: border-box;
}

notebook-page.page {
    background-color: ivory;
    padding: var(--cell-size);
    padding-bottom: 0;
    border-radius: 1rem 0 0 1rem;
    width: fit-content;
    max-width: 100vw;
    box-sizing: border-box;
}

article.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(38, 1fr);
    box-sizing: border-box;
}

div.cover {
    position: absolute;
    overflow: hidden;
    height: calc(var(--cell-size) * 39);
    width: calc(var(--cell-size) * 27);
    top: calc(var(--cell-size) / 2 * (-1));
    left: calc(var(--cell-size) / 2 * (-1));
    pointer-events: none;
    box-sizing: border-box;
}

div.cover .image {
    position: absolute;
    height: calc(var(--cell-size) * 40);
    width: calc(var(--cell-size) * 28);
    top: calc(var(--cell-size) / 2 * (-1));
    left: calc(var(--cell-size) / 2 * (-1));
    background: url('border.png');
    background-size: var(--cell-size) var(--cell-size);
    opacity: 0.3;
    pointer-events: none;
    box-sizing: border-box;
}

input.cell {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: var(--cell-size);
    width: var(--cell-size);
    text-align: center;
    /* background: url('border.png'); */
    /* background-size: var(--cell-size); */
    border: none;
    padding: 0;
    background-color: inherit;
    font-family: 'Klee One', cursive;
    box-sizing: border-box;
}

input.cell:focus {
    outline: none;
    caret-color: transparent;
    background-color: black;
    opacity: 0.05;
}

.page footer {
    text-align: left;
    height: calc(var(--cell-size) * 2);
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #b2b3ab;
    box-sizing: border-box;
}