html {
    /* box-sizing: border-box; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: cornsilk;
}

main {}

div.cover {
    position: absolute;
    left: -0.5em;
    top: -0.5em;
    overflow: hidden;
    width: 27.5em;
    height: 39.5em;
    background: url(border.svg);
}

article.page {
    width: 26em;
    height: 38em;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(38, 1fr);
}

div.cell {
    width: 1em;
    height: 1em;

}