:root {
    --cell-size: calc(min(((100vh - 3rem) / 41), (100vw / 28)));
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.12em;
    opacity: 0.7;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: calc(var(--cell-size) * 20);
}

input {
    border-radius: 0;
    text-align: center;
    border-width: 0 0 1px 0;
    padding: 0;
    background-color: inherit;
    font-family: 'Klee One', cursive;
    box-sizing: border-box;
    height: 1.5em;
}

input:focus {
    outline: none;
    caret-color: transparent;
    background-color: #f0f0e4;
}

footer {
    margin: auto;
    padding-bottom: calc(var(--cell-size));
}